
body{ height: 2000px; background-color: #171a21;  margin: 0 auto;}

.header{
    border-radius: 8px; background-color: rgb(72 31 138);
    width: 900px; height: 42px;
    display: flex; justify-content: center;
    align-items: center; margin: 0 auto;
    position: fixed;  top:5px;left: 0; right: 0; opacity: 0.75; transition:opacity 0.5s;}
    .header:hover{color: white; opacity: 1;}
/*
.logo_img {object-fit: cover; width: 50px; height: 50px; vertical-align: middle;}
.logo_name{	text-align: center; position: absolute; top: 83%; left: 21%; transform: translate( -50%, -50% ); font-size: 8px; color: white;}
*/

.menus_link{ text-decoration: none; color: #f1f0ef; font-size: 38px; padding: 0px 35px 0px 35px;
    transition: text-shadow 1.5s; font-family: 'Bebas Neue', cursive;}
.menus_link:hover{text-shadow:5px 5px 2px black; transition: text-shadow 0.75s } /*X Y 번짐 크기 색상*/

.logo_name{width: 1100px; margin: 0px auto; text-align: center; margin-top: 60px; animation: focus-in-contract-bck 1.5s ease-out 1s alternate both;
    font-size: 70px; color: #f3f3f3; font-family: 'Bebas Neue'}

.main {margin: 0 auto; margin-top: 20px; background-color: #f3f3f3; width: 1100px; border-radius: 45px; height: 1850px; border: 2px solid #525252;}
.temp{text-align: center;}


@keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(300px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(12px);
      filter: blur(0);
      opacity: 1;
    }
  }



