body{ height: 2000px; background-color: #171a21;}

.header{
    border-radius: 8px; background-color: rgb(72 31 138);
    width: 900px; height: 35px;
    display: flex; justify-content: space-evenly; margin: 0 auto;
    position: fixed;  top:5px;left: 0; right: 0; opacity: 0.75; transition:opacity 0.5s;}
    .header:hover{color: white; opacity: 1;}

#logo{font-size: 15px; }
.menus_link{ text-decoration: none; color: #f1f0ef; font-weight: bold ; font-size: 25px; padding: 0px 25px 0px 25px;
    transition: text-shadow 1.5s }
.menus_link:hover{text-shadow:5px 5px 2px black; transition: text-shadow 0.75s } /*X Y 번짐 크기 색상*/

.main {margin: 0 auto; width: 50px; margin-top: 45px; color: white;}


